<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post['data']['title'][0]['text'] %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post['data']['content'][0]['text'] %>
  </p>

</div>
