<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  
  <% @results.each do |post| %>
    <% if post['type'] == 'post'%>
      <div class="card" style="width: 18rem;">    
        <div class="card-body">
          <h5 class="card-title"><%= post['data']['title'][0]['text']%></h5>
          <p class="card-text">

            <b>Document Type:</b><%= post['type']%><br>
            <b>Document Id:</b> <%= post['id']%>
          </p>
          <a href="/posts/<%= post['id'] %>" class="btn btn-primary">Show Post</a>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


