<p style="color: green"><%= notice %></p>

<div class="card" style="width: 80%; margin: 0 auto;">    
  <div class="card-body">
    <h5 class="card-title"><%= @post['data']['title'][0]['text'] %></h5>
    <p class="card-text">
      <%= @post['data']['content'][0]['text'] %>
    </p> 
  </div>
  <%= link_to "Back to posts", {controller: "posts", action: "index"}, class: "btn btn-primary" %>
</div>

</div>
